<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<ul class="menu-main">
			<li><a href="/home" class="current">Home</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>

		<div>
			<h1 id="user-name">Hello </h1>
		</div>

		<script>
			(() => {
				function run() {
					const token = localStorage.getItem('token');

					const xhr = new XMLHttpRequest();
					xhr.open('GET', 'http://localhost:3000/getUserName', true);
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.setRequestHeader('Authorization', `JWT ${token}`);
					xhr.onreadystatechange = () => {
						if (xhr.status >= 200 && xhr.status < 301) {
							try {
								const userNameContainer = document.querySelector('#user-name');

								const data = JSON.parse(xhr.responseText);

								if (!!data) {
									console.log(data);
								}
							} catch (error) {}
						} else if (xhr.status >= 400) {
						}
					};
					xhr.send(
						JSON.stringify({
							name,
							password
						})
					);
				}
			})();
		</script>
	</body>
</html>
