<!DOCTYPE html>
<html>
	<head>
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
		<title>Вхід</title>
		<meta charset="utf-8" />
	</head>

	<body>
		<ul class="menu-main">
			<li><a href="/signup">Register</a></li>
			<li><a href="/login" class="current">Login</a></li>
		</ul>
		<div>
			<h1>Вхід</h1>
			<form action="/login" method="post" id="form">
				<label>Логин</label><br />
				<input type="text" name="name" required /><br /><br />
				<label>Пароль</label><br />
				<input type="password" name="password" required autocomplete="on" /><br /><br />
				<input type="submit" value="Отправить" />
			</form>
		</div>

		<div id="log" class="message">Invalid</div>

		<script>
		(() => {
        const logelement = document.querySelector('#log');

        document.querySelector('#form').addEventListener('submit', e => {
          e.preventDefault();

          run(e.target);
        });

        function run(form) {
          const name = form[0].value,
            password = form[1].value;
          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:3000/login', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onreadystatechange = function() {
            if (xhr.status >= 200 && xhr.status < 301) {
              try {
                const data = JSON.parse(xhr.responseText);

                if (!!data) {
                  const token = data.token;
                  localStorage.setItem("token", token);
                  xhr.open('GET', 'http://localhost:3000/home', true);
                }

                if (!data.status) {
                  logelement.style.display = 'block';
                  logelement.textContent = 'Invalid';
                } else {
                  logelement.style.display = 'none';

                

                  if (!!localStorage.getItem('token')) {
                    xhr.open('GET', 'http://localhost:3000/home', true);
                  }
                }
              } catch (e) {}
            } else if (xhr.status >= 400)
              log.textContent = 'Please check your internet connection';
          };
          xhr.send(
            JSON.stringify({
              name,
              password
            })
          );
        }
      })();
		</script>
	</body>
</html>
